In [5]:
#6319
A= str(input())


def pal(A):
  for i in range (len(A)):
    if i<len(A)//2 and round(len(A)//2) <len(A)-i-1:
      if A[i] == A[len(A)-i-1]:
        print('%s\n입력하신 단어는 회문(Palindrome)입니다.' %A)
    else:
        break;
pal(A)

eye
eye
입력하신 단어는 회문(Palindrome)입니다.

In [6]:
#6321

A= int(input())

def sosu(A):
  if A == 1 or A == 2 :
    print('소수입니다.')

  i = 2 
  while i<A:  
    if A%i == 0:
      a= '소수가 아닙니다.'
      break;
    else:
      a = '소수입니다.'
      i+=1
    
  print(a)
  
sosu(A)

5
소수입니다.

In [8]:
#6323

A= int(input())

def pibo(A):
  
  problem_list = [0]*A

  problem_list[0], problem_list[1] = 1,1


  for i in range(2,A):
    problem_list[i] = problem_list[i-1] + problem_list[i-2]
  
  print(problem_list)
  
pibo(A)

10
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [9]:
#6324

A= [1,2,3,4,3,2,1]
B=[]
print(A)

def return_list(A):
  for i in range(len(A)-1):
    for j in range(len(A)-1,i,-1):
      if A[i] == A[j] :
        del(A[j])
      
  print(A)
  
return_list(A)

[1, 2, 3, 4, 3, 2, 1]
[1, 2, 3, 4]

In [11]:
#6325

A=[2,4,6,8,10]
i = 0

def find(A):
  
  if 5 not in A and 10 in A:
    print('%s\n5 => False\n10 => True' %A)
          
find(A)

[2, 4, 6, 8, 10]
5 => False
10 => True

In [15]:
#6326

A = int(input())

def pact(A):  
  pac = 1
  for i in range (A,0,-1):
    pac = i* pac
  print(pac)
  
  
pact(A)

5
120

In [20]:
#6320

A,B = map(int, input().split(','))

def zegop(A,B):
  C = A**2
  D = B**2
  
  print('square(%d) => %d'%(A,C))
  print('square(%d) => %d'%(B,D))

zegop(A,B)

16,5
square(16) => 256
square(5) => 25

In [22]:
#6328

A,B = map(str, input().split(', '))

def str_len(A,B):
  if len(A)<len(B):
    print(B)
  else:
    print(A)
str_len(A,B)

one, three
three

In [26]:
K = 10
print('카운트다운을 하려면 0보다 큰 입력이 필요합니다.')
def count_down(K):
  for i in range(K,0,-1):
    print(i)

count_down(K)

카운트다운을 하려면 0보다 큰 입력이 필요합니다.
10
9
8
7
6
5
4
3
2
1