In [0]:
#45 / 6310

name = str(input())

age= int(input())

today= 2018

after_age = 100-(age)+ today
print("{0}(은)는 {1}년에 100세가 될 것입니다.".format(name,after_age,today))

홍길동
20
홍길동(은)는 2098년에 100세가 된다.

In [0]:
#48 / 6313
A= int(input())
B= chr(A)
print("ASCII {0} => {1}".format(A,B))

78
ASCII 78 => N

In [0]:
#49 / 6314
A = list(range(1,11))
B = list(filter(lambda x: x%2 ==0 , A))
print(B)

In [0]:
#50 / 6315
A = list(range(1,11))
B = list(map(lambda x: x**2 , A))
print(B)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [0]:
#51 / 6316

A = list(range(1,11))
B = list(filter(lambda x: x%2 ==0 , A))
C = list(map(lambda x: x**2 , B))

print(C)

[4, 16, 36, 64, 100]

In [0]:
#52 / 6317

def maxes(*params):
  for val in params:
    maxs = max(params)
  return maxs

results = maxes(3,5,4,1,8,10,2)

print("max(3, 5, 4, 1, 8, 10, 2) => %d" %results)

In [0]:
#53 / 6318

def found(**params):
  for val in params.keys():
    print("{0}:{1}".format(val,params[val]))
    
found(a=0,b=1,c=2,d=3,e=4,f=5)