In [1]:
case = int(input())

for i in range(case):
  수열길이, 횟수, idx = map(int,input().split())
  수열 = list(map(int, input().split()))
  
  for j in range(횟수):
    무엇 = list(map(str, input().split()))
    
    if 무엇[0] == 'D':
      무엇[1] = int(무엇[1])
      del 수열[무엇[1]]
      
      
    elif 무엇[0] == 'C' :
      무엇[1] , 무엇[2] = int(무엇[1]) , int(무엇[2])
      수열[무엇[1]] = 무엇[2]

      
    elif 무엇[0]  == 'I':
      무엇[1] , 무엇[2] = int(무엇[1]) , int(무엇[2])
      수열.insert(무엇[1], 무엇[2])
  
  if idx >= len(수열):
    print('#{0} -1'.format(i+1))
  
  else:
    print('#{0} {1}'.format(i+1, 수열[idx]))

3
5 3 4
1 2 3 4 5
I 2 7
D 4
C 3 8
#1 5
5 5 2
15171 7509 20764 13445 10239
C 3 18707
C 1 20250
D 2
D 2
C 0 7158
#2 10239
10 10 8
27454 29662 2491 1819 10118 15441 7357 23618 972 398
D 7
D 1
D 6
I 3 2906
C 1 27121
D 3
D 2
D 1
D 2
C 2 20794
#3 -1