In [4]:
# 5차시 / 6276

gugudan = [[x*y for y in range(1,10) if (x*y)%3 != 0 and (x*y)%7 != 0]  for x in range(2,10) ]

print(gugudan)

[[2, 4, 8, 10, 16], [], [4, 8, 16, 20, 32], [5, 10, 20, 25, 40], [], [], [8, 16, 32, 40, 64], []]

In [2]:
# 10차시 리스트 내포 X
A= [0]*10

for i in range(10):
  if i== 0 or i==1 :
    A[i] = 1
  else :
    A[i] = A[i-1] + A[i-2]
print(A)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [1]:
# 10차시 / 6286
A = [1,1]
[A.append(A[i-1]+A[i-2])for i in range(2,10)]
print(A)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]