In [1]:
# 3차시 / 6271

student_score = ((90,80),(85,75),(90,100))
scores = []


for stu_num in range(3):
    stu_sum = 0
    for score in range(2):
        stu_sum += student_score[stu_num][score]
    scores.append(stu_sum)
    print("{0}번 학생의 총점은 {1}점이고, 평균은 {2}입니다.".format(stu_num+1, scores[stu_num], scores[stu_num]/2))

1번 학생의 총점은 170점이고, 평균은 85.0입니다.
2번 학생의 총점은 160점이고, 평균은 80.0입니다.
3번 학생의 총점은 190점이고, 평균은 95.0입니다.

In [2]:
# 4차시 / 6275

given = list(str('Python is powerful... and fast; plays well with others; runs everywhere; is friendly & easy to learn; is Open.'))

# for i in range (len(given)):
#     if given[i] != ('a' and 'e' and 'i' and 'o' and 'u'):
#         new.append(given[i])

new_list = [i for i in given if i != 'a' 
                      if i != 'e'
                      if i != 'i'
                      if i != 'o'
                      if i != 'u']

for j in range(len(new_list)):
    print(new_list[j],end='')

Pythn s pwrfl... nd fst; plys wll wth thrs; rns vrywhr; s frndly & sy t lrn; s Opn.

In [3]:
# 6차시 / 6277

given = [int(input()) for i in range(5)]
sums = 0
avgs = (sum(given))/5

print('입력된 값 {0}의 평균은 {1}입니다.'.format(given, avgs))

10
10
20
30
40
입력된 값 [10, 10, 20, 30, 40]의 평균은 22.0입니다.

In [4]:
# 7,8차시 / 6280,6281

input_num = int(input())

answers = [i for i in range(1, input_num+1) if input_num% i==0]

print(answers)

12
[1, 2, 3, 4, 6, 12]

In [5]:
# 9차시 / 6282

givens = [1, 3, 11, 15, 23, 28, 37, 52, 85, 100] 

new_list =  [i for i in givens if i%2==0]

print(new_list)

[28, 52, 100]

In [6]:
#11차시 / 6288

my_list = [i for i in range(1,21) if i % 15 != 0]

my_list = [my_list[j]**2 for j in range(len(my_list))]
    
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 256, 289, 324, 361, 400]

In [7]:
# 12차시 / 6289

given_num = list(input())
new_num = 0

given_num = [int(i) for i in given_num]

for j in range(0,len(given_num)):
    new_num += given_num[j]
 
print(new_num)

12345
15

In [8]:
# 14차시 / 6292

A = list(map(int, input().split(',')))
print(A)
print(tuple(A))

5,4,3,2,1
[5, 4, 3, 2, 1]
(5, 4, 3, 2, 1)

In [9]:
# 15차시 / 6293

A = list(map(int, input().split(',')))

circle = [i*2*3.141592 for i in A]

for j in range(len(circle)):
    if j < len(circle)-1:
        print(round(circle[j],2), end=', ')
    else:
        print(round(circle[j],2), end='')

12,7,55
75.4, 43.98, 345.58

In [10]:
# 16차시 / 6295

x,y = map(int, input().split(','))
Matrix = [[x*y for y in range(y)] for x in range(x)] 
print(Matrix)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [11]:
# 17차시 / 6296

A = input().split(', ')
A = sorted(A)

for i in range(len(A)):
    if i < len(A)-1:
        print(A[i],end=', ')
    else:
        print(A[i],end='')

5, 4, 3, 2, 1
1, 2, 3, 4, 5

In [12]:
# 18차시 / 6297

new_num = map(int, input().split(', '))

odd = [x for x in new_num if x%2==1]


for i in range(len(odd)):
    if i < len(odd)-1:
        print(odd[i],end=', ')
    else:
        print(odd[i],end='')

4, 2, 3, 7, 6, 1
3, 7, 1

In [13]:
# 19차시 / 6298

A = (1,2,3,4,5,6,7,8,9,10)

print(A[0:5])
print(A[5:10])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [14]:
# 20차시 / 6299

my_lists = [5, 6, 77, 45, 22, 12, 24]

new_lists = [i for i in my_lists if i %2 !=0]
print(new_lists)

[5, 77, 45]

In [15]:
# 21차시 / 6300

my_lists = [12, 24, 35, 70, 88, 120, 155]
new_lists = [data for idx, data in enumerate(my_lists) if idx %2 !=0]
print(new_lists)

[24, 70, 120]

# enumerate( ) 중요함 !!! 다시 공부하기

In [16]:
# 22차시 / 6301

list2 = [[[0 for x in range(4)] for y in range(3)] for z in range(2)]
print(list2)

[[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]]

In [17]:
# 23차시 / 6302

my_lists = [12, 24, 35, 70, 88, 120, 155]
new_lists = [data for idx, data in enumerate(my_lists) if idx != 0 if idx!=4 if idx!=5]
print(new_lists)

[24, 35, 70, 155]

In [18]:
# 24차시 / 6303

first_list = [1,3,6,78,35,55]
second_list = [12,24,35,24,88,120,155]
new_list =[]

for x in range (len(first_list)):
    for y in range (len(second_list)):
        if first_list[x] == second_list[y]:
            new_list.append(first_list[x])
print(new_list)

[35]