In [1]:
# 29차시 - 04/02 완료

a = {'아메리카노': 1900, '카페모카': 3300, '에스프레소': 1900, '카페라떼': 2500, '카푸치노': 2500, '바닐라라떼': 2900}
b = {'헤이즐럿라떼': 2900, '카페모카': 3300, '밀크커피': 3300, '아메리카노': 1900, '샷크린티라떼': 3300}
c = {}
new = {}
k = []
for a_key, a_value in a.items():
  for b_key, b_value in b.items():
    c[a_key] = a_value
    if b_key not in a_key:
      c[b_key] = b_value
    elif a_key == b_key:
      c[b_key] = a_key

for c_key, c_value in c.items():
  if c_value >3000:
    new[c_key] = c_value
    a = set(new.items())
    
print('{0}'.format(a))

{('샷크린티라떼', 3300), ('카페모카', 3300), ('밀크커피', 3300)}

In [2]:
# 32차시 / 6259
A = list(input())
letters = 0
digits = 0
for i in range(len(A)):
  if ord(A[i]) < 91 and ord(A[i])>64 :
    letters +=1
  if ord(A[i])<123 and ord(A[i]) > 96:
    letters +=1
  if ord(A[i])<58 and ord(A[i])>46:
    digits +=1
    
print('LETTERS {0} \nDIGITS {1}'.format(letters, digits))

hello world! 123
LETTERS 10
DIGITS 3

In [3]:
# 33차시 / 6260
A = list(input())
Upper = 0
Lower = 0

for i in range(len(A)):
  if ord(A[i]) < 91 and ord(A[i])>64:
    Upper +=1
  if ord(A[i])<123 and ord(A[i]) > 96:
    Lower +=1
    
print('UPPER CASE {0} \nLOWER CASE {1}'.format(Upper, Lower))

Hello World! 123
UPPER CASE 2
LOWER CASE 8