In [1]:
# 27차시 / 6253

phone_lists = {'홍길동':'010-1111-1111', '이순신': '010-1111-2222', '강감찬': '010-1111-3333' }

print('아래 학생들의 전화번호를 조회할 수 있습니다.')
for students in phone_lists:
  print(students)
  
print('전화번호를 조회하고자 하는 학생의 이름을 입력하십시오.')
find = str(input())

if find == '홍길동':
  print('{0}의 전화번호는 {1}입니다.'.format(find,phone_lists['홍길동']))
if find == '이순신':
  print('{0}의 전화번호는 {1}입니다.'.format(find,phone_lists['이순신']))
if find == '강감찬':
  print('{0}의 전화번호는 {1}입니다.'.format(find,phone_lists['강감찬']))

아래 학생들의 전화번호를 조회할 수 있습니다.
홍길동
이순신
강감찬
전화번호를 조회하고자 하는 학생의 이름을 입력하십시오.
강감찬
강감찬의 전화번호는 010-1111-3333입니다.

In [2]:
# 28차시 / 6255
# 뭐 이거 푸는데 1시간 걸리냐.....

fur_list = {"TV": 2000000, "냉장고": 1500000, "책상": 350000, "노트북": 1200000, "가스레인지": 200000, "세탁기": 1000000}
fur_price = fur_list.values()
sorted_price = list(reversed(sorted(fur_price)))

for i in sorted_price:
  for k,v in fur_list.items():
    if i==v:
      print("{0}: {1}".format(k,v))

TV: 2000000
냉장고: 1500000
노트북: 1200000
세탁기: 1000000
책상: 350000
가스레인지: 200000

In [3]:
# 30차시 / 6257
fruit = ['apple ','banana',' melon']
len_fruit=[]
for i in range(len(fruit)):
  fruit[i]= fruit[i].strip(' ')
  len_fruit.append(len(fruit[i]))

fruit_dict = {}
for j in range(3):
  fruit_dict[fruit[j]] = len_fruit[j]
print(fruit_dict)

{'apple': 5, 'banana': 6, 'melon': 5}

In [4]:
# 31차시 / 6258
N = int(input())
my_list = {}
for i in range(1,N+1):
  my_list[i] = i**2
print(my_list)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [5]:
# 34차시 / 6261
beer = {'하이트': 2000, '카스': 2100, '칭따오': 2500, '하이네켄': 4000, '버드와이저': 500}
new_beer ={}
new_beer = {key: value*1.05 for key, value in beer.items()}

print(beer)
print(new_beer)

{'하이트': 2000, '카스': 2100, '칭따오': 2500, '하이네켄': 4000, '버드와이저': 500}
{'하이트': 2100.0, '카스': 2205.0, '칭따오': 2625.0, '하이네켄': 4200.0, '버드와이저': 525.0}

In [6]:
# 35차시 / 6262

given_str= list(str(input()))
count_str = {}

for i in range(len(given_str)):
  count_str[given_str[i]] = 0
  
for count_key in count_str.keys():
  for given in given_str:
    if count_key == given:
      count_str[count_key] +=1
  print("{0},{1}".format(count_key,count_str[count_key]))

abcdefgabc
a,2
b,2
c,2
d,1
e,1
f,1
g,1